body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.flex-container.a-container{
	justify-content: flex-end;
}

a{
  color: #373B47;
  text-decoration: none;
  padding: 20px;
}

a:hover {
  color: #FF00BF;
}

.logo-container{
	margin-right: : auto;
	margin-left: 20px;
}

.flex-container.logo{
	width: 70px;
	height: 70px;
	justify-content: flex-start;
}